{% extends 'base.html.twig' %}
{% block body %}
<ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/resource">Resource</a></li>
    <li><a href="/auth">Auth</a></li>
    <li><a href="/client">Client</a></li>
</ul>
{% endblock %}